/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove Default Spacing */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.2;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body header {
  padding: 3rem 0 3.375rem;
}
body header img {
  margin: 0 auto;
}
body .hero {
  overflow: hidden;
}
body .hero .tablet {
  height: auto;
  width: 110.4vw;
  margin-left: -5.2vw;
  margin-right: -5.2vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 64em) {
  body .hero .tablet {
    display: none;
  }
}
body .hero .desktop {
  display: none;
}
@media (min-width: 64em) {
  body .hero .desktop {
    display: block;
  }
}
body .hero .heroContent {
  padding: 3rem 1.5rem 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body .hero .heroContent h1 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
  color: hsl(240, 21%, 20%);
}
body .hero .heroContent p {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
  color: hsl(240, 10%, 57%);
}
body .hero .heroContent .btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
body .mainContent,
body footer {
  position: relative;
  padding-top: 5.25rem;
}
body .mainContent .gallery {
  margin-top: 5.75rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
body .mainContent .gallery img {
  height: auto;
  width: 151px;
  border-radius: 8px;
}
body .mainContent article {
  padding: 4rem 1.5rem;
  text-align: center;
}
body .mainContent article h3 {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 4px;
  line-height: 1.625;
  color: hsl(192, 37%, 48%);
  text-transform: uppercase;
}
body .mainContent article h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.125;
  color: hsl(240, 21%, 20%);
}
body .mainContent article p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
  color: hsl(240, 10%, 57%);
}
body footer {
  position: relative;
}
body footer .footerContent {
  position: relative;
  margin-top: 1.75rem;
  padding: 5.75rem 1.5rem 4.5rem;
  text-align: center;
}
body footer .footerContent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(192, 37%, 48%);
  opacity: 0.9;
  z-index: -1;
}
body footer .footerContent picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}
body footer .footerContent img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
body footer .footerContent h4 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.125;
  color: hsl(0, 0%, 98%);
}
body footer .footerContent p {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.444;
  color: hsl(0, 0%, 98%);
}

.primaryBtn {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 29px;
  background-color: hsl(192, 37%, 48%);
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.625;
  color: hsl(0, 0%, 100%);
}
.primaryBtn > span {
  margin-left: 0.25rem;
  color: hsl(192, 90%, 77%);
}
.primaryBtn:hover {
  background-color: hsl(192, 54%, 64%);
}

.secondaryBtn {
  padding: 1rem 1.8125rem;
  border: none;
  border-radius: 29px;
  background-color: hsl(268, 34%, 53%);
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.625;
  color: hsl(0, 0%, 100%);
}
.secondaryBtn > span {
  color: hsl(268, 100%, 86%);
}
.secondaryBtn:hover {
  background-color: hsl(268, 55%, 71%);
}

.sectionNumber {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto 4rem;
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsla(240, 10%, 57%, 0.25);
  border-radius: 29px;
  z-index: 1;
}
.sectionNumber p {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.625;
  color: hsl(240, 10%, 57%);
}
.sectionNumber::before {
  content: "";
  position: absolute;
  top: -5.25rem;
  height: 84px;
  width: 1px;
  transform: translateX(-50%);
  background-color: hsla(240, 10%, 57%, 0.25);
  z-index: 1;
}/*# sourceMappingURL=styles.css.map */