@use './styles/' as *;

body {
	background-color: $lightGrey;
	font-family: $fontPrimary;
	font-optical-sizing: auto;
	font-style: normal;

	header {
		padding: 3rem 0 3.375rem;

		// logo
		img {
			margin: 0 auto;
		}
	}

	// Hero Section
	.hero {
		.tablet {
			height: auto;
			width: 110.4vw;
			margin-left: -5.2vw;
			margin-right: -5.2vw;
			object-fit: cover;

			@media (min-width: $desktop) {
				display: none;
			}
		}

		.desktop {
			display: none;

			@media (min-width: $desktop) {
				display: block;
			}
		}

		.heroContent {
			padding: 3rem 1.5rem 4rem;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;

			h1 {
				margin-bottom: 1.5rem;
				font-size: $display-sm;
				font-weight: $fw-black;
				line-height: 1.1;
				color: $darkBlue;
			}

			p {
				margin-bottom: 2rem;
				font-size: $body-sm;
				font-weight: $fw-medium;
				line-height: 1.625;
				color: $grey;
			}

			.btns {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 1rem;
			}
		}
	}
}

// Buttons
.primaryBtn {
	padding: 1rem 2.5rem;
	border: none;
	border-radius: 29px;
	background-color: $cyan;
	font-size: $btn;
	font-weight: $fw-black;
	line-height: 1.625;
	color: $white;

	> span {
		margin-left: 0.25rem;
		color: $aqua;
	}

	&:hover {
		background-color: $hoverCyan;
	}
}

.secondaryBtn {
	padding: 1rem 1.8125rem;
	border: none;
	border-radius: 29px;
	background-color: $purple;
	font-size: $btn;
	font-weight: $fw-black;
	line-height: 1.625;
	color: $white;

	&:hover {
		background-color: $hoverPurple;
	}
}
